body {
    margin: 0;
    font-family: sans-serif;
    background-color: #93d9e9;
    min-height: 100vh;       
    display: flex;
    justify-content: center;  
    align-items: center;     
    padding: 20px;            
}

.pricing-container {
    display: flex;
    gap: 20px;              
    flex-wrap: wrap;        
    justify-content: center;
}

.card {
    background-color: white;
    width: 300px;
    min-height: 480px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    transition: transform 0.6s ease; 
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 3px 30px 60px rgba(0, 0, 0, 0.4);
}

.card-header {
    background-color: salmon;
    height: 100px;          
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;          
}

.card-header h3 {
    margin: 0;
    font-size: 1.4rem;
}

.card-features {
    list-style: none;    
    padding: 30px 20px;
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    line-height: 2.5;       
    flex: 1; 
}

.card-footer {
    padding-bottom: 30px;   
    text-align: center;
}

.btn-comprar {
    background-color: #e0e0e0; 
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.btn-comprar:hover {
    background-color: #ccc;   
}