body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;    
    min-height: 100vh;       
}

.main-header {
    background-color: #f2f2f2;
    padding: 30px;
    text-align: center;
}

.main-footer {
    background-color: #f2f2f2;
    padding: 30px;
    text-align: center;
    font-size: 1.1rem;  
    font-weight: bold;  
}


.content-wrapper {
    display: flex;          
    flex: 1;             
}

.sidebar {
    background-color: #cccccc; 
    padding: 20px;
    font-weight: bold;
    flex: 1;                   
}

.main-post {
    background-color: #999999; 
    padding: 20px;
    flex: 2;                   
}

.main-post h3 {
    margin-top: 0;
}