body {
    margin: 0;
    font-family: sans-serif; 
    display: flex;            
    justify-content: center;   
    align-items: center;     
    min-height: 100vh;     
    background-color: #f9f9f9;
}

.centered-card {
    background-color: #e0e0e0; 
    width: 100%;            
    max-width: 600px;        
    padding: 60px;        
    border-radius: 20px;       
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

h2 {
    margin-top: 0;          
    margin-bottom: 15px;      
    color: #333;
}


p {
    color: #555;
    line-height: 1.6;         
    margin-bottom: 20px;
}