body, ul {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center; 
    gap: 15px;        
}


.logo-text {
    font-weight: 900;      
    font-size: 1.5rem;     
    letter-spacing: 2px;    
    color: #000;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 60px; 
}

.nav-links a {
    text-decoration: none;
    color: #999;              
    font-family: 'Times New Roman', serif; 
    text-transform: uppercase;  
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.lang-links {
    display: flex;
    gap: 15px; 
}

.lang-links a {
    text-decoration: none;
    color: white;              
    background-color: #808080; 
    padding: 15px 15px;   
    font-size: 0.9rem;
    font-weight: bold;
    transition: background 0.3s; 
}

.lang-links a:hover {
    background-color: #555; /
}